.movieItem::before {
  content: '';
  background-image: url('../SVG/film.svg');
  background-size: cover;
  position: absolute;
  width: 25px;
  height: 25px;
  left: -20px;
  /* fill: #272727; */
}

.movieItem:hover,
.movieItem:focus {
  color: orange;
  cursor: pointer;
}
